
<mat-card class="example-card">
 
    <mat-card-header>
      <div mat-card-avatar *ngIf = "categoryImage"> 
         <img [src] = "categoryImage"> 
      </div>
      <mat-card-title>{{category}}</mat-card-title>
      <mat-card-subtitle>classification result</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <h3>
        {{classifyService.title}}
      </h3>

      <p>
        {{classifyService.doc}}
      </p>
      <span *ngIf="!change">
      <button   mat-raised-button (click)="change_cat()">Change the result</button>
      </span>
      <span *ngIf="change">
      <form #classForm="ngForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
              <mat-select placeholder="new category:" [(ngModel)] = "cn" name = "cn" >
                <mat-option *ngFor = "let ca of cas" [value]="ca.name">{{ca.name}}</mat-option>
              </mat-select>
            </mat-form-field>
                <button style="margin-left: 7px;" mat-raised-button >Classify</button>
        </form>
      </span>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-raised-button color="primary" (click)="onSubmit1()" >Save</button>
    </mat-card-actions>
  </mat-card>