.example-card {
    max-width: 400px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
  }

  .img{

    max-width: 300px;
  }

  .mat-h1{
    margin-left: 10px;
    margin-top: 10px;
  }
