<h3> Your Ad Content </h3>
<p>{{body}}</p>
<span *ngFor = "let photo of Photos$ | async">
    <mat-card class="example-card"  *ngIf="photo.id == picid">
        <img mat-card-image src="{{photo.thumbnailUrl}}">    
      
      </mat-card>
      
</span>

<span *ngIf="!choose">
    <h5 class="error" >No photo was attached to your ad yet</h5>
</span>
<br>
    <button mat-raised-button color="primary"   (click)="close()" >close</button>