<br>
<h2 class="mat-h2" style="margin-left: 15px;"> Hello, <b>{{userEmail}}</b></h2> 
<!-- style="width: 500px; margin-left: 5px;" -->
<mat-card style="margin-left: 5px; width: 450px;">
  <mat-card-header>
    <mat-card-title style="text-align:center;">
 Amount of Spam and Ham in Your List
    </mat-card-title>
  </mat-card-header>
  <span *ngIf="clickedPie == true; else other1">
  <mat-card-content class="dashboard-card-content">
    <div style="display: block; width: 600px; ">
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [colors]="pieChartColors"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
      </div> 
     </mat-card-content>
    </span>
    <ng-template #other1>
      <span><button  mat-raised-button (click)="count_cat()">Click to view!</button></span>
   </ng-template>
</mat-card>
<br>
<br>
<mat-card style="margin-left:500px; width: 600px; top: 127px; position: absolute;">
  <mat-card-header>
    <mat-card-title>
How many ads you sent every month
    </mat-card-title>
  </mat-card-header>
  <span *ngIf="clickedBar == true; else other2">
  <mat-card-content class="dashboard-card-content">
    <!-- //style="display: block;" width: 520px; height: 310px;    -->
  <div>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</mat-card-content>
</span>
<ng-template #other2>
  <span><button  mat-raised-button (click)="getAdsByMonth()">Click to view!</button></span>
</ng-template>
</mat-card>
<br>
<!-- style="width: 900px; bottom: 370px; margin-left: 100px; -->
<mat-card style="width: 1000px; margin-left: 5px;">
  <mat-card-header>
    <mat-card-title style="text-align:center;">
How many people Entered to your Ads Today
    </mat-card-title>
  </mat-card-header>
  <span *ngIf="clickedDoughnut == true; else other3">
    <mat-card-content class="dashboard-card-content">
      <!-- style="display: block; width: 750px; margin-left: 250px; -->
  <div class="chart-wrapper" style="display: block; width: 700px; margin-left: 200px;">
    <canvas baseChart 
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"
    [colors]="doughnutChartColors">
  </canvas>
</div>
</mat-card-content>
</span>
<ng-template #other3>
  <span><button  mat-raised-button  (click)="addDountData()">Click to view!</button></span>
</ng-template>
</mat-card>







