
<span *ngIf="id_ad !='0' ">
  <h1 class="mat-h1">Choose A Photo for your Ad</h1>
</span>

<p *ngIf="!(Photos$ | async)">Loading Photos...</p>
<span *ngFor = "let photo of Photos$ | async">
<mat-card class="example-card"  *ngIf="photo.id < 25" >
   
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">{{photo.id}}</div>
    </mat-card-header>

        <img mat-card-image src="{{photo.thumbnailUrl}}">
        
    <mat-card-actions>
      <span *ngIf="id_ad !='0' ">
        <button mat-raised-button color="primary" (click)="chooseP(photo.id)">Choose</button>
      </span>
    </mat-card-actions>

  </mat-card>
  </span>